packages:
  yum:
    python3-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application

commands:
  01_create_virtualenv:
    command: "python3 -m venv /var/app/venv/staging-LQM1lest"

container_commands:
  01_upgrade_pip:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip setuptools wheel"
  
  02_install_requirements:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install -r requirements.txt"
  
  03_cleanup_old_processes:
    command: "sudo pkill -9 -f gunicorn || true"