packages:
  yum:
    python3-devel: []
    python3-pip: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application

commands:
  01_mkdir_venv:
    command: "mkdir -p /var/app/venv/staging-LQM1lest/bin"
    ignoreErrors: false
    
  02_create_venv:
    command: "/usr/bin/python3 -m venv /var/app/venv/staging-LQM1lest"
    ignoreErrors: false
    
  03_install_pip:
    command: "/usr/bin/python3 -m pip install --upgrade pip setuptools wheel"
    ignoreErrors: false

container_commands:
  01_activate_venv:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip install --upgrade pip setuptools wheel"
    
  02_install_requirements:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip install -r requirements.txt"
    
  03_cleanup_processes:
    command: "pkill -9 -f gunicorn || true"