option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application
    NumProcesses: 3
    NumThreads: 20

commands:
  01_create_symlink:
    command: |
      mkdir -p /var/app/venv/staging-LQM1lest
      ln -sf /var/app/venv/bin /var/app/venv/staging-LQM1lest/bin

container_commands:
  01_ensure_dependencies:
    command: |
      /var/app/venv/bin/pip install --upgrade pip setuptools wheel
      /var/app/venv/bin/pip install -r requirements.txt