option_settings:
  # Configure HTTPS listener on port 443
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:982081079378:certificate/469a3ebf-15af-4898-bc6d-e57bb81fb912
    Rules: default

  # Keep HTTP listener on port 80
  aws:elbv2:listener:80:
    Protocol: HTTP
    Rules: default

  # Configure default process
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: '80'
    Protocol: HTTP
